<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>admin</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
</web-app>